* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 'Poppins', sans-serif;
    position: relative;
}

.header {
    margin-top: 35px;
    margin-right: 115px;
}

.fill {
    position: absolute;
    margin-top: 625px;
    margin-left: 40px;
}

.logo {
    display: flex;
}

.logo img {
    width: 31px;
    height: 30px;
    margin-right: 9px;
}

.logo h2 {
    height: 22px;
    width: 145px;
    color: #1B1E76;
}

.navbar {
    display: flex;
    align-items: center;
    margin-left: 140px;
}

nav {
    text-align: right;
    flex: 1;
    display: inline-block;
    margin-right: 30px;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #2F281E;
    height: 28px;
    top: calc(50% - 28px/2 + 1px);
    font-family: 'Trueno';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
}

nav a:hover {
    color: #01114C;
}

nav button {
    height: 46px;
    width: 139px;
    border-radius: 4px;
    background: #0025B4;
    border: 0;
    font-family: 'Trueno';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
}

.row {
    margin-top: 110px;
    display: flex;
    margin-left: 140px;
}

.row-2 h3 {
    width: 518px;
    height: 162px;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}

.row-2 p {
    width: 458px;
    height: 196px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #544837;
    margin-top: 43px;
    text-align: justify;
    text-justify: inter-word;
}

.button1 img {
    position: absolute;
    height: 50px;
    width: 190px;
    border-radius: 5px;
}

.button1 {
    position: relative;
}

.button1 h4 {
    position: absolute;
    height: 19px;
    width: 57px;
    font-family: 'Trueno';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 70px;
    margin-top: 15px;
}

.button2 img {
    position: absolute;
    height: 50px;
    width: 190px;
    border-radius: 5px;
}

.button2 {
    position: relative;
    margin-left: 440px;
    margin-top: 35.29px;
}

.button2 h4 {
    position: absolute;
    height: 19px;
    width: 57px;
    font-family: 'Trueno';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 70px;
    margin-top: 15px;
}


/* Signup button from the third section */

.button3 img {
    position: absolute;
    height: 66.07px;
    width: 245px;
    border-radius: 5px;
}

.button3 {
    position: relative;
    margin-left: 250px;
    margin-top: 30.29px;
}

.button3 h4 {
    position: absolute;
    height: 24px;
    width: 71px;
    top: calc(50% - 24px/2 + 0.5px);
    font-family: 'Trueno';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 100px;
    margin-top: 30px;
}


/* Button4 */

.button4 img {
    position: absolute;
    Width: 245px;
    Height: 66.07px;
    border-radius: 5px;
}

.button4 {
    position: relative;
    margin-left: 400px;
    margin-top: 32.29px;
}

.button4 h4 {
    position: absolute;
    width: 57px;
    height: 19px;
    top: calc(50% - 19px/2);
    font-family: 'Trueno';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #0025B4;
    margin-left: 100px;
    margin-top: 30px;
}

.row-4 {
    position: relative;
    display: flex;
    margin-top: 48.29px;
}

.watchvideo {
    position: absolute;
    display: flex;
    margin-top: 15px;
    margin-left: 205px;
}

.watchvideo img {
    height: 17px;
    width: 20px;
    border-radius: 1.125px;
    margin-right: 8.5px;
}

.watchvideo h4 {
    height: 20px;
    width: 134px;
    font-family: 'Trueno';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #0025B4;
}

.row1 {
    position: absolute;
    height: 1344px;
    background: #F5F9FF;
    margin: 37.65px 0 0 0;
}

.row12 {
    text-align: center;
    margin-top: 45.5px;
}

.row12 img {
    height: 52px;
    width: 53px;
    border-radius: 5px;
}

.row12 h5 {
    height: 54px;
    top: calc(50% - 54px/2 + 37px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
    margin-top: 18.5px;
}


/* comment */

.row13 {
    display: flex;
    margin-left: 145px;
}

.row13 h6 {
    width: 602px;
    height: 442px;
    font-family: 'Trueno';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin-top: 65px;
}

.row141 {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
    margin-top: 745px;
    margin-left: 197px;
    padding-top: 61px;
    width: 1048px;
    height: 560px;
}

.row14 {
    display: flex;
}

.card1 {
    width: 348px;
    height: 364px;
    background-color: #FFFFFF;
    border-right: 0.25px solid #979797;
    text-align: center;
    padding-left: 44px;
}

.card2 {
    width: 362.5px;
    height: 364px;
    background-color: #FFFFFF;
    border-right: 0.25px solid #979797;
    text-align: center;
    justify-content: center;
    padding-left: 30px;
}

.card3 {
    width: 335.5px;
    height: 364px;
    background-color: #FFFFFF;
    padding-left: 40.5px;
}

.card1-img {
    width: 50px;
    height: 50px;
    background: #0025B4;
    border-radius: 19px;
    border: none;
    margin-bottom: 83px;
    margin-left: 106px;
}

.card1-img img {
    margin-top: 14px;
}

.card2-img img {
    margin-top: 14px;
}

.card2-img {
    width: 50px;
    height: 50px;
    background: #09B1D9;
    border-radius: 19px;
    border: none;
    margin-bottom: 83px;
    margin-left: 119px;
}

.card3-img {
    border: none;
    margin-bottom: 83px;
    margin-left: 80px;
}

.card1 h4 {
    width: 263px;
    height: 182px;
    font-family: 'Trueno';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #01114C;
}

.card2 h4 {
    width: 288px;
    height: 208px;
    font-family: 'Trueno';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #01114C;
}

.card3 h4 {
    width: 240px;
    height: 104px;
    font-family: 'Trueno';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #01114C;
}

.row2 {
    position: relative;
    height: 949px;
    background: #FFFFFF;
    margin-top: 535px;
}

.row3 {
    position: absolute;
    height: 365px;
    width: 1440px;
    background: transparent;
    background-image: url(./assets/Rectangle.png);
    margin-top: -10px;
    opacity: 0.93;
}

.row4 {
    position: absolute;
    height: auto;
    width: 1440px;
    background: #FFFFFF;
    margin-top: 355px;
}

.background-image {
    position: relative;
    height: 739px;
    width: 550px;
}

.background-image>.Image1 {
    position: absolute;
    margin-top: 80px;
}

.background-image>.Image2 {
    position: absolute;
}

.row21 {
    text-align: center;
    padding-top: 44.5px;
    margin-left: 80px;
}

.row21 img {
    height: 52px;
    width: 53px;
    border-radius: 5px;
}

.row21 h5 {
    height: 54px;
    top: calc(50% - 54px/2 + 37px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
    margin-top: 18.5px;
}

.row22 {
    margin-left: 103px;
    display: flex;
    margin-top: 41px;
    position: relative;
}

.row2-text {
    margin-left: 150px;
}

.row2-text h6 {
    height: 494px;
    width: 491px;
    bottom: 22.57%;
    font-family: 'Trueno';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #000000;
}

.row2-text h3 {
    height: 24px;
    width: 356px;
    top: calc(50% - 24px/2 + 210px);
    font-family: 'Trueno';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #01114C;
    margin-left: 190px;
    margin-top: 23px;
}

.row31 {
    margin-left: 221px;
}

.row31 h2 {
    width: 999px;
    height: 105px;
    font-family: 'Trueno';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 59px;
}

.row31 span {
    color: #0025B4;
    opacity: 1;
}

.row31 h5 {
    width: 999px;
    height: 35px;
    font-family: 'Trueno';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 38px;
}

.profile-card {
    display: flex;
    width: 1440px;
    margin-top: 75px;
}

.profile-card1 {
    margin-left: 145px;
    margin-right: 164px;
}

.profile-card1 img {
    float: right;
    margin-top: 31px;
}

.profile-card2 img {
    float: right;
    margin-top: 31px;
}

.profile-card12 h5 {
    width: 493px;
    height: 119px;
    background: #FFFFFF;
    box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-family: Trueno;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* or 139% */
    color: #01114C;
    padding-left: 36px;
    padding-top: 21px;
}